@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #191919;
}

.main {
  background-color: var(--bg-color);
}

.active {
  color: rgb(251 146 60);
}

.active-bg {
  background-color: rgb(251 146 60);
}

p {
  color: rgb(212, 212, 212);
}
